# Question-1

In [79]:
import example

ModuleNotFoundError: No module named 'example'

# QUESTION-2

In [69]:
def fileLength(filename):
        #reading data
        try:
                f=open(filename,'r')
                
                data=f.readlines()
        
                line=""
                for i in data:
                        line+=i
                result=len(line)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(filename))

print(fileLength('Untitled5.ipynb'))
print(fileLength('Untitled123.ipynb'))

12759
File Untitled123.ipynb not found.

# QUESTION-4

In [23]:

def main():
    collatz(1)
def collatz(x):
    if x == 1:
        print (x)
    elif x % 2 == 0:
        print (x)
        x = x/2
        collatz(x)
    else:
        print (x)
        x = 3*x + 1
        collatz(x)



if __name__ == "__main__":
    main()

1

In [24]:
def main():
    collatz(10)
def collatz(x):
    if x == 1:
        print (x)
    elif x % 2 == 0:
        print (x)
        x = x/2
        collatz(x)
    else:
        print (x)
        x = 3*x + 1
        collatz(x)



if __name__ == "__main__":
    main()

10
5.0
16.0
8.0
4.0
2.0
1.0

# QUESTION-3

In [25]:
class Marsupial:

    # the constructor

    def __init__(self):

        self.pouch=[]

    

    # the required method

    def put_in_pouch(self, item):

        # adds item to the pouch

        self.pouch.append(item)

    def pouch_contents(self):

        return self.pouch

# the required class

class Kangaroo(Marsupial):

    # the constructor

    def __init__(self, x,y):

        # parents constructor

        Marsupial.__init__(self)

        self.x=x

        self.y=y

    # the required method

    def jump(self, dx, dy):

        # incrmetns the respective instace variables

        self.x+=dx

        self.x+=dy

    

    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

    

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

# QUESTION 5

In [35]:
def binary(n):
    if n < 2:
        print (n)
    else:
        x = (bin(int(n)//2)
        print (x)

SyntaxError: invalid syntax (33144369.py, line 6)

In [72]:
from html.parser import HTMLParser

# Inherit from Html parser
class HeadingParser(HTMLParser):
    # Define the headings
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    # Handle the functions
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)
        # TEST HERE
parser = HeadingParser()
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

# Question-9

In [67]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Printing all words upper case
print([x.upper() for x in words])

# Printing all words lower case
print([x.lower() for x in words])

# Printing length of each word
print([len(x) for x in words])

# Printing the list containing a list for every word of list words,
# where each list contains the word in uppercase and lowercase and the length of the word
print([[x.upper(), x.lower(), len(x)] for x in words])

# Printing the list of words in list words containing 4 or more characters
print([x for x in words if len(x)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']

# Question-8

1.SELECT  Temperature FROM table_name;
2.SELECT DISTINCT Country FROM table_name;
3.SELECT * FROM table_name WHERE country = 'India';
4.SELECT * FROM table_name WHERE Season = 'Fall';
5.SELECT City Country AND Season FROM table_name WHERE Rainfall BETWEEN 200 and 400;
6.SELECT City Country FROM table_name WHERE Temperature > 20 ORDER BY;
7.SELECT City SUM(Rainfall) FROM table_name WHERE CITY = Cairo;
8.SELECT * FROM table_name SUM(Rainfall) GROUP BY Season;